.drinks_title {

}
.drinks_window {
    padding: 30px;
    width: 400px;
    height: 300px;
    border: blue solid 3px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.drinks_window_item {
    margin-bottom: 20px;
}
.drinks_button_menu {
    width: 500px;
    display: flex;
    justify-content: center;
}
.drinks_button {
    margin: 0 10px 0 10px;
}